<% if (vehicle) { %>
    <div class="vehicle-detail-wrapper">
        <%- vehicle %>
    </div>
    <% } else { %>
        <p class="notice">Sorry, that vehicle could not be found.</p>
        <% } %>