<main class="oops404">
    <p class="oops">Oops!</p>

    <div class="code">
        <span class="four">4</span>

        <span class="zero" aria-hidden="true"></span>
        <span class="sr-only">0</span>

        <span class="four">4</span>
    </div>

    <p class="error-label">ERROR</p>

    <p class="message">
        <%- message %>
    </p>

    <p class="actions">
        <a class="btn" href="/">Go Home</a>
        <a class="btn alt" href="/inv/type/1">Browse Inventory</a>
    </p>
</main>